/* Page-specific styling */

html {
    position: relative;
    min-height: 100%;
}
body {
    margin: 0 0 40px; /* bottom = footer height */
}

.header {
   
    left: 0;
    bottom: 0;
 
    width: 100%;
    border-bottom: 1px solid black;
    text-align: center;

}

.header span{
    font-family: Arial;
    font-weight: bold;
    font-size: large;
}

.logo {
    background: url("Images/logo.png");
    height: 80px; /* You must set a specified height */
    background-size: 50%;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */

}

#myLog {

    padding: 15px;
    font-family: Arial; 
    font-size: small;
}

.content
{
    text-align: center;
}

.content button {
    padding: 5px;
    font-family: Arial;
    font-weight: bold;
}



.footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(249, 159, 35);
    font-family: Arial;
    font-weight: bold;
    font-size: small;
    text-align: center;
    width: 100%;
    border-top: 1px solid black;
}

.padding {
    padding: 15px;
}

 